process { withName: bcf_to_plink2_aec { container = "shub://MarissaLL/singularity-containers:plink_2.0"}
		  withName: bcf_to_plink2_chrset { container = "shub://MarissaLL/singularity-containers:plink_2.0"}
		  withName: make_king_table { container = "shub://MarissaLL/singularity-containers:plink_2.0"}
		  withName: calc_rxy_rel_matrix { container = "ngsrelatev2.sif"}
	}
singularity.enabled = true
singularity.cacheDir = "singularity_containers"
singularity.autoMounts = true
singularity.runOptions = '--bind $HOME'
